<div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller='HeaderCtrl'>
	<div class='my-container'>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Laravel Anguler RESTFul</a>
		</div>
		<div class="navbar-collapse collapse" ng-class="!navCollapsed && 'in'">
			<ul ng-show="isAuthenticated" class="nav navbar-nav">
				<li ng-class="{active: isActive('/dashboard')}"><a href="#/dashboard">Dashboard</a></li>
				<li ng-class="{active: isActive('/users')}"><a ng-show="isAdmin()" href="#/users">Users</a></li>
			</ul>
			<ul ng-show="isAuthenticated" class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">{{ isAuthenticated ? user.meta : "" | getFullName }} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#/profile">Profile</a></li>
						<li><a href="#/settings">Settings</a></li>
						<li><a href="#/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>
