<div class='row'>
    <h1 class='text-center'>Login</h1>
    <form name='form' class="form-horizontal col-sm-6 col-sm-offset-3" role="form" ng-submit='submit()' novalidate>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.username.$invalid}'>
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name='username' id='username' class="form-control" ng-model='username' placeholder="Username" required>
            </div>
        </div>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.password.$invalid}'>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name='password' id='password' class="form-control" ng-model='password' placeholder="Password" required>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
                <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" data-scope="email,user_about_me,user_birthday,user_friends"></div>
                <p class='m-t'>No account? <a href="#/signup"><u>Click here</u></a> to sign up.</p>
            </div>
        </div>
    </form>
</div>
