<div class='row'>
    <h1 class='text-center'>Sign Up</h1>
    <form name='form' class="form-horizontal col-sm-6 col-sm-offset-3" role="form" ng-submit='submit()' novalidate>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.username.$invalid}'>
            <label class="col-sm-2 control-label" for="username">Username</label>
            <div class="col-sm-10">
                <input ng-hide="user.id" type="text" name='username' id='username' class="form-control" ng-model='user.credential.username' placeholder="Letters and numbers only. Min 6 chars." required>
                <p ng-show="user.id" class="form-control-static">{{ user.username }}</p>
            </div>
        </div>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.email.$invalid}'>
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" name='email' id='email' class="form-control" ng-model='user.meta.email' placeholder="someone@example.com" required>
            </div>
        </div>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.password.$invalid}'>
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name='password' id='password' class="form-control" ng-model='user.credential.password' placeholder="Min 6 chars." required>
            </div>
        </div>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.first_name.$invalid}'>
            <label for="first_name" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" name='first_name' id='first_name' class="form-control" ng-model='user.meta.first_name' placeholder="First Name" required>
            </div>
        </div>
        <div class="row form-group" ng-class='{"has-error": form.$dirty && form.last_name.$invalid}'>
            <label for="last_name" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" name='last_name' id='last_name' class="form-control" ng-model='user.meta.last_name' placeholder="Last Name" required>
            </div>
        </div>
        <div class="row form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" name='phone' id='phone' class="form-control" ng-model='user.meta.phone' placeholder="Phone Number">
            </div>
        </div>
        <div class="row form-group">
            <label for="fax" class="col-sm-2 control-label">Fax</label>
            <div class="col-sm-10">
                <input type="text" name='fax' id='fax' class="form-control" ng-model='user.meta.fax' placeholder="Fax Number">
            </div>
        </div>
        <div class="row form-group">
            <label for="address1" class="col-sm-2 control-label">Address Line 1</label>
            <div class="col-sm-10">
                <input type="text" name='address1' id='address1' class="form-control" ng-model='user.meta.address1' placeholder="Address Line 1">
            </div>
        </div>
        <div class="row form-group">
            <label for="address2" class="col-sm-2 control-label">Address Line 2</label>
            <div class="col-sm-10">
                <input type="text" name='address2' id='address2' class="form-control" ng-model='user.meta.address2' placeholder="Address Line 2">
            </div>
        </div>
        <div class="row form-group">
            <label for="city" class="col-sm-2 control-label">City</label>
            <div class="col-sm-10">
                <input type="text" name='city' id='city' class="form-control" ng-model='user.meta.city' placeholder="City">
            </div>
        </div>
        <div class="row form-group">
            <label for="province" class="col-sm-2 control-label">Province</label>
            <div class="col-sm-10">
                <input type="text" name='province' id='province' class="form-control" ng-model='user.meta.province' placeholder="Province">
            </div>
        </div>
        <div class="row form-group">
            <label for="postal" class="col-sm-2 control-label">Postal</label>
            <div class="col-sm-10">
                <input type="text" name='postal' id='postal' class="form-control" ng-model='user.meta.postal' placeholder="Postal Code">
            </div>
        </div>
        <div class="row form-group">
            <label for="country" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-10">
                <input type="text" name='country' id='country' class="form-control" ng-model='user.meta.country' placeholder="Country">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label for='terms_of_use'>
                        <input type="checkbox" name='terms_of_use' id='terms_of_use' ng-model='terms_of_use' ng-checked="terms_of_use" required> I agree to <a href='/terms' target='_blank'>Terms of Use</a> 
                    </label>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>
