<div class='row'>
    <ol class="breadcrumb">
        <li><a href="#/users">Users</a></li>
        <li class='active'>{{ user.id ? user.meta.first_name + ' ' + user.meta.last_name : "New User" }}</li>
    </ol>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <div class='row page-header'>
            <div class='col-sm-12'>
                <h2>{{ user.meta.first_name + ' ' + user.meta.last_name }}</h2>
            </div>
        </div>

        <div class='row'>
            <form name='form' class='form-horizontal col-sm-12' ng-submit='save()' novalidate>
                <div class="row form-group" ng-class='{"has-error": form.$dirty && form.username.$invalid}'>
                    <label class="col-sm-2 control-label" for="username">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name='username' id='username' class="form-control" ng-model='user.credential.username' placeholder="Letters and numbers only. Min 6 chars." required>
                    </div>
                </div>
                <div class="row form-group" ng-class='{"has-error": form.$dirty && form.password.$invalid}'>
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name='password' id='password' class="form-control" ng-model='user.credential.password' placeholder="" ng-required="!user.id">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="group_id" class="col-sm-2 control-label">Group</label>
                    <div class="col-sm-10">
                        <select type="text" name='group_id' id='group_id' class="form-control" ng-model='user.group_id' ng-options="obj.key as obj.label for obj in groups"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="status" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-10">
                        <select type="text" name='status' id='status' class="form-control" ng-model='user.status' ng-options="obj.key as obj.label for obj in statuses"></select>
                    </div>
                </div>
                <div class="row form-group" ng-class='{"has-error": form.$dirty && form.email.$invalid}'>
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name='email' id='email' class="form-control" ng-model='user.meta.email' placeholder="someone@example.com" required>
                    </div>
                </div>
                <div class="row form-group" ng-class='{"has-error": form.$dirty && form.first_name.$invalid}'>
                    <label for="first_name" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name='first_name' id='first_name' class="form-control" ng-model='user.meta.first_name' placeholder="" required>
                    </div>
                </div>
                <div class="row form-group" ng-class='{"has-error": form.$dirty && form.last_name.$invalid}'>
                    <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input type="text" name='last_name' id='last_name' class="form-control" ng-model='user.meta.last_name' placeholder="" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="company" class="col-sm-2 control-label">Company</label>
                    <div class="col-sm-10">
                        <input type="text" name='company' id='company' class="form-control" ng-model='user.meta.company' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="phone" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" name='phone' id='phone' class="form-control" ng-model='user.meta.phone' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="fax" class="col-sm-2 control-label">Fax</label>
                    <div class="col-sm-10">
                        <input type="text" name='fax' id='fax' class="form-control" ng-model='user.meta.fax' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="profile_img_url" class="col-sm-2 control-label">Profile Image URL</label>
                    <div class="col-sm-10">
                        <a class="thumbnail clickable">
                            <img ng-src="" ph-img="160x160">
                        </a>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="website_url" class="col-sm-2 control-label">Website URL</label>
                    <div class="col-sm-10">
                        <input type="text" name='website_url' id='website_url' class="form-control" ng-model='user.meta.website_url' placeholder="http://www.example.com">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="address1" class="col-sm-2 control-label">Address Line 1</label>
                    <div class="col-sm-10">
                        <input type="text" name='address1' id='address1' class="form-control" ng-model='user.meta.address1' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="address2" class="col-sm-2 control-label">Address Line 2</label>
                    <div class="col-sm-10">
                        <input type="text" name='address2' id='address2' class="form-control" ng-model='user.meta.address2' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="city" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-10">
                        <input type="text" name='city' id='city' class="form-control" ng-model='user.meta.city' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="province" class="col-sm-2 control-label">Province</label>
                    <div class="col-sm-10">
                        <input type="text" name='province' id='province' class="form-control" ng-model='user.meta.province' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="postal" class="col-sm-2 control-label">Postal</label>
                    <div class="col-sm-10">
                        <input type="text" name='postal' id='postal' class="form-control" ng-model='user.meta.postal' placeholder="">
                    </div>
                </div>
                <div class="row form-group">
                    <label for="country" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-10">
                        <input type="text" name='country' id='country' class="form-control" ng-model='user.meta.country' placeholder="">
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
