<div class='row page-header'>
    <div class='col-sm-12'>
        <h2>
            Users
            <div class='pull-right'>
                <a href='#/users/new' class='btn btn-default'>Create New User</a>
            </div>
        </h2>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12'>
        <section class="panel">
            <header class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li ng-class="{'active': status === ''}"><a href="#/users" data-toggle="tab">All</a></li>
                    <li ng-class="{'active': status === 'pending'}"><a href="#/users?status=pending" data-toggle="tab">Pending</a></li>
                    <li ng-class="{'active': status === 'active'}"><a href="#/users?status=active" data-toggle="tab">Active</a></li>
                    <li ng-class="{'active': status === 'inactive'}"><a href="#/users?status=inactive" data-toggle="tab">Inactive</a></li>
                    <li ng-class="{'active': status === 'banned'}"><a href="#/users?status=banned" data-toggle="tab">Banned</a></li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="row text-small">
                    <!--
                    <div class="col-sm-8">
                        <select class="input-sm inline form-control" style="width:130px">
                            <option value="">Bulk action</option>
                            <option value="approve">Approve</option>
                            <option value="delete">Delete</option>
                        </select>
                        <button class="btn btn-sm btn-default">Apply</button>                
                    </div>
                    -->
                    <div class="col-sm-offset-8 col-sm-4">
                        <div class="input-group">
                            <input type="text" ng-model="q" class="input-sm form-control" placeholder="Search" ng-enter="search()">
                            <span class="input-group-btn">
                              <button class="btn btn-sm btn-default" type="button" ng-click="search()">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class='table-responsive'>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class='sortable' ng-class="{'sort-active': sort === 'email', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}"  ng-click="sortBy('email')">
                                Email <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></span></th>
                            <th class='sortable' ng-class="{'sort-active': sort === 'first_name', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}"  ng-click="sortBy('first_name')">
                                First Name <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></th>
                            <th class='sortable' ng-class="{'sort-active': sort === 'last_name', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}"  ng-click="sortBy('last_name')">
                                Last Name <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></th>
                            <th class='sortable' ng-class="{'sort-active': sort === 'group_name', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}"  ng-click="sortBy('group_name')">
                                Group <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></th>
                            <th class='sortable' ng-class="{'sort-active': sort === 'user_status', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}"  ng-click="sortBy('user_status')">
                                Status <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></th>
                            <th class='sortable' ng-class="{'sort-active': sort === 'last_login', 'sort-asc': order === 'asc', 'sort-desc': order === 'desc'}" ng-click="sortBy('last_login')">
                                Last Login <span class='sort-action pull-right'><i class='fa fa-caret-down'></i><i class='fa fa-caret-up'></i></th>
                            <th class='col-med text-center'>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="user in results.data">
                            <td>
                                <a href='#/users/{{ user.id }}'>{{ user.email }}</a>
                            </td>
                            <td>
                                <a href='#/users/{{ user.id }}'>{{ user.first_name }}</a>
                            </td>
                            <td>
                                <a href='#/users/{{ user.id }}'>{{ user.last_name }}</a>
                            </td>
                            <td>
                                {{ user.group_name }}
                            </td>
                            <td>
                                {{ user.user_status }}
                            </td>
                            <td>
                                {{ user.last_login }}
                            </td>
                            <td class='text-center'>
                                <div class="btn-group text-left">
                                    <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">Actions</button>
                                    <ul class="dropdown-menu">
                                        <li><a class="clickable" ng-click="edit(user.id)">Edit</a></li>
                                        <li><a class='clickable' ng-click="setStatus('active', [user])" ng-show="user.user_status !== 'active'">Activate</a></li>
                                        <li><a class='clickable' ng-click="setStatus('inactive', [user])" ng-show="user.user_status === 'active'">Deactivate</a></li>
                                        <li><a class='clickable' ng-click="setStatus('banned', [user])" ng-show="user.user_status !== 'banned'">Ban</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class='row text-small'>
                    <div class='col-sm-6'>
                        <p class='m-t'>Showing {{ results.from }} to {{ results.to }} of {{ results.total }}</p>
                    </div>
                    <div class='col-sm-6 text-right'>
                        <pagination on-select-page="goTo(page)" total-items="results.total" page="results.current_page" items-per-page="results.per_page" class="pagination-sm" boundary-links="true" rotate="false"></pagination>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
